In [32]:
#IMPORTATION DES DIFFERENTES MODULES NECESSAIRE
import pandas as pd
import numpy as np

In [33]:
#CREATION DE LA DATAFRAME A PARTIR DU FICHIER toy_incomplet.csv
DataFrame = pd.read_csv("toy_incomplet.csv", encoding="UTF-8", sep='\t')
DataFrameC= pd.read_csv("toy_complet.csv", encoding="UTF-8", sep='\t')

In [34]:
#Affichage du dataframe
DataFrame

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,NaN,-1,-1,1,-1,-1,2,-1,-1,-1,...,-1,-1,-1,4,-1,0,-1,-1,4,-1
1,NaN,-1,2,2,-1,0,2,-1,4,-1,...,-1,4,3,-1,2,3,-1,-1,4,1
2,NaN,-1,-1,-1,-1,-1,0,2,-1,4,...,1,0,2,-1,-1,-1,-1,1,5,0
3,NaN,-1,-1,2,0,3,0,-1,1,4,...,1,1,-1,1,4,-1,-1,-1,-1,0
4,NaN,-1,-1,-1,1,2,0,2,1,4,...,1,1,1,-1,-1,3,4,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,1,4,-1,0,3,0,2,1,4,...,-1,-1,-1,1,3,-1,-1,-1,4,-1
96,NaN,-1,1,1,-1,-1,2,4,4,-1,...,1,-1,4,-1,3,-1,0,2,-1,-1
97,NaN,-1,-1,-1,-1,3,4,3,-1,-1,...,3,0,3,-1,-1,-1,-1,-1,2,2
98,NaN,4,-1,-1,4,-1,-1,3,4,-1,...,-1,-1,4,-1,2,3,0,2,-1,2
99,NaN,1,4,-1,-1,3,-1,4,1,3,...,1,5,-1,-1,5,-1,-1,-1,1,4

In [35]:
DataFrameC.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,NaN,1,2,1,5,4,2,0,2,4,...,3,0,4,4,3,0,1,1,4,4
1,NaN,3,2,2,3,0,2,4,4,4,...,1,4,3,1,2,3,0,2,4,1
2,NaN,0,4,2,1,4,0,2,1,4,...,1,0,2,2,3,3,5,1,5,0
3,NaN,0,4,2,0,3,0,2,1,4,...,1,1,1,1,4,2,5,2,4,0
4,NaN,0,5,2,1,2,0,2,1,4,...,1,1,1,1,3,3,4,3,3,1

In [36]:
#SELECTION DE LA COLONNE AVEC LES NaN
column_with_nan = DataFrame.columns[DataFrame.isnull().any()]
column_with_nanC = DataFrameC.columns[DataFrame.isnull().any()]

In [37]:
#SUPPRESSION DE LA COLONNE AVEC LES NaN
DataFrame.drop(column_with_nan,1,inplace=True)
DataFrameC.drop(column_with_nan,1,inplace=True)

In [38]:
DataFrame

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,-1,-1,1,-1,-1,2,-1,-1,-1,-1,...,-1,-1,-1,4,-1,0,-1,-1,4,-1
1,-1,2,2,-1,0,2,-1,4,-1,1,...,-1,4,3,-1,2,3,-1,-1,4,1
2,-1,-1,-1,-1,-1,0,2,-1,4,3,...,1,0,2,-1,-1,-1,-1,1,5,0
3,-1,-1,2,0,3,0,-1,1,4,-1,...,1,1,-1,1,4,-1,-1,-1,-1,0
4,-1,-1,-1,1,2,0,2,1,4,4,...,1,1,1,-1,-1,3,4,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,4,-1,0,3,0,2,1,4,-1,...,-1,-1,-1,1,3,-1,-1,-1,4,-1
96,-1,1,1,-1,-1,2,4,4,-1,0,...,1,-1,4,-1,3,-1,0,2,-1,-1
97,-1,-1,-1,-1,3,4,3,-1,-1,3,...,3,0,3,-1,-1,-1,-1,-1,2,2
98,4,-1,-1,4,-1,-1,3,4,-1,-1,...,-1,-1,4,-1,2,3,0,2,-1,2
99,1,4,-1,-1,3,-1,4,1,3,-1,...,1,5,-1,-1,5,-1,-1,-1,1,4

In [39]:
DataFrameC

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,1,2,1,5,4,2,0,2,4,2,...,3,0,4,4,3,0,1,1,4,4
1,3,2,2,3,0,2,4,4,4,1,...,1,4,3,1,2,3,0,2,4,1
2,0,4,2,1,4,0,2,1,4,3,...,1,0,2,2,3,3,5,1,5,0
3,0,4,2,0,3,0,2,1,4,3,...,1,1,1,1,4,2,5,2,4,0
4,0,5,2,1,2,0,2,1,4,4,...,1,1,1,1,3,3,4,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,4,2,0,3,0,2,1,4,4,...,2,1,1,1,3,4,4,2,4,1
96,5,1,1,3,0,2,4,4,4,0,...,1,4,4,2,3,3,0,2,4,1
97,4,4,2,3,3,4,3,3,1,3,...,3,0,3,3,1,5,3,2,2,2
98,4,2,1,4,0,2,3,4,4,1,...,1,5,4,1,2,3,0,2,3,2
99,1,4,4,0,3,2,4,1,3,3,...,1,5,4,3,5,2,3,3,1,4

In [42]:

def SimPearson(i,k):
    moyennei=0
    moyennej=0

    #moyenne des notes de i Ã  j
    x=0
    for j in range(DataFrame.shape[1]):
        if (DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[k,j]!=-1):
            moyennei=moyennei+DataFrame.iloc[i,j]
            x=x+1
    moyennei=moyennei/x

    #moyenne des notes de k Ã  j
    x=0
    for j in range(DataFrame.shape[1]):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            moyennej=moyennej+DataFrame.iloc[k,j]
            x=x+1
    moyennej=moyennej/x


    Somme =0
    for j in range (DataFrame.shape[1]):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            Somme=Somme + (DataFrame.iloc[i,j]-moyennei)*(DataFrame.iloc[k,j]-moyennej)


    s1=0
    s2=0
    for j in range (DataFrame.shape[1]):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            s1=s1+(DataFrame.iloc[i,j]-moyennei)**2

    for j in range (DataFrame.shape[1]):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            s2=s2+(DataFrame.iloc[k,j]-moyennej)**2

    denominateur= np.sqrt(s1*s2)
    simPearson=Somme/denominateur
    return simPearson
print(SimPearson(0,99))

-0.13835626813484275

In [43]:
#COSINUS

def SimCos(i, k) :
    Somme = 0
    for j in range(DataFrame.shape[1]) :
            if(DataFrame.iloc[i,j] != -1 and DataFrame.iloc[k,j] != -1) :
                Somme = Somme + DataFrame.iloc[0,j] * DataFrame.iloc[k,j]

    Sommeij = 0
    Sommekj = 0
    for j in range(DataFrame.shape[1]) :
        if(DataFrame.iloc[i,j] != -1 and DataFrame.iloc[k,j] != -1) :
            Sommeij = Sommeij + (DataFrame.iloc[0,j])**2

    for j in range(DataFrame.shape[1]) :
         if(DataFrame.iloc[i,j] != -1 and DataFrame.iloc[k,j] != -1) :
            Sommekj = Sommekj + (DataFrame.iloc[k,j])**2

    denominateur = np.sqrt(Sommeij * Sommekj)
    CosineSim = Somme / denominateur
    return CosineSim
print(SimCos(0,99))

0.6879113282319278

In [44]:
#Calcul des similaritÃ©s
SimilaritesPearson= np.zeros(shape=(100,100))
for i in range(100):
    for j in range(100):
        SimilaritesPearson[i][j]=SimPearson(i,j)
print(SimilaritesPearson)

[[ 1.         -0.02166187  0.0153901  ...  0.07366843 -0.07989322
  -0.13835627]
 [-0.02166187  1.         -0.01239966 ... -0.09436609  0.87419282
  -0.01490402]
 [ 0.0153901  -0.01239966  1.         ...  0.0274667  -0.02133779
   0.05148007]
 ...
 [ 0.07366843 -0.09436609  0.0274667  ...  1.         -0.06031583
  -0.08861162]
 [-0.07989322  0.87419282 -0.02133779 ... -0.06031583  1.
   0.04117594]
 [-0.13835627 -0.01490402  0.05148007 ... -0.08861162  0.04117594
   1.        ]]

In [45]:
SimilaritesPearson

array([[ 1.        , -0.02166187,  0.0153901 , ...,  0.07366843,
        -0.07989322, -0.13835627],
       [-0.02166187,  1.        , -0.01239966, ..., -0.09436609,
         0.87419282, -0.01490402],
       [ 0.0153901 , -0.01239966,  1.        , ...,  0.0274667 ,
        -0.02133779,  0.05148007],
       ...,
       [ 0.07366843, -0.09436609,  0.0274667 , ...,  1.        ,
        -0.06031583, -0.08861162],
       [-0.07989322,  0.87419282, -0.02133779, ..., -0.06031583,
         1.        ,  0.04117594],
       [-0.13835627, -0.01490402,  0.05148007, ..., -0.08861162,
         0.04117594,  1.        ]])

In [46]:
pd.DataFrame(SimilaritesPearson).to_csv("SimilaritÃ©s_Pearson.csv",index=False)

In [47]:
DF=pd.read_csv("SimilaritÃ©s_Pearson.csv")

In [48]:
DF

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.000000,-0.021662,0.015390,-0.003118,-0.036256,0.870409,-0.017337,0.042397,-0.041776,-0.040732,...,0.882206,0.889632,0.059163,0.073918,-0.061829,-0.044545,0.019616,0.073668,-0.079893,-0.138356
1,-0.021662,1.000000,-0.012400,-0.019555,0.040087,-0.052884,0.040004,-0.077823,0.871694,-0.066896,...,-0.043490,-0.049077,-0.093521,-0.037935,-0.126296,-0.002248,0.880697,-0.094366,0.874193,-0.014904
2,0.015390,-0.012400,1.000000,0.858042,0.829948,-0.057602,0.876117,-0.039827,-0.066135,0.856758,...,0.093388,0.055134,0.032722,0.061937,0.024639,0.854322,-0.011382,0.027467,-0.021338,0.051480
3,-0.003118,-0.019555,0.858042,1.000000,0.860809,-0.106848,0.871968,0.072547,-0.007118,0.866098,...,0.046658,-0.043353,0.096954,0.007351,0.140522,0.890402,-0.055188,0.114884,-0.030564,0.019902
4,-0.036256,0.040087,0.829948,0.860809,1.000000,-0.122170,0.874226,-0.027902,0.006482,0.849946,...,-0.013525,-0.075192,-0.009603,-0.076574,0.001144,0.881536,-0.074526,0.047813,0.046683,0.034106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-0.044545,-0.002248,0.854322,0.890402,0.881536,-0.038374,0.874126,0.072492,-0.130477,0.871754,...,0.053944,0.039380,0.089466,0.040466,0.084522,1.000000,-0.007298,0.053789,-0.050558,0.072204
96,0.019616,0.880697,-0.011382,-0.055188,-0.074526,-0.094069,-0.016439,0.038338,0.867169,-0.111441,...,0.082239,0.053568,-0.050615,-0.030922,-0.057647,-0.007298,1.000000,-0.116449,0.851023,0.065923
97,0.073668,-0.094366,0.027467,0.114884,0.047813,0.047615,0.076160,0.856063,-0.051626,0.031236,...,0.078160,0.124377,0.881356,0.886893,0.860088,0.053789,-0.116449,1.000000,-0.060316,-0.088612
98,-0.079893,0.874193,-0.021338,-0.030564,0.046683,-0.052272,0.044488,-0.038077,0.845781,-0.071870,...,0.023598,0.015882,-0.062442,-0.081337,-0.094200,-0.050558,0.851023,-0.060316,1.000000,0.041176
99,-0.138356,-0.014904,0.051480,0.019902,0.034106,-0.160712,0.132662,-0.019698,-0.025769,0.056948,...,-0.111024,-0.096058,-0.051510,0.111978,0.005219,0.072204,0.065923,-0.088612,0.041176,1.000000

In [52]:
#Npredite de lutilisateur 0 sur l'item 1 (filtrage utilisateur)

def prediction(u1,i1):
    num=0
    den=0
    moyenne0=0
    c=0
    for x in range(DataFrame.shape[1]):
        if DataFrame.iloc[u1,x]!=-1:
            moyenne0+=DataFrame.iloc[u1,x]
            c+=1
    moyenne0=moyenne0/c


    for i in range(DataFrame.shape[0]):
        moyennei=0
        c=0
        for j in range(DataFrame.shape[1]):
            if DataFrame.iloc[i,j]!=-1:
                moyennei+=DataFrame.iloc[i,j]
                c+=1
        moyennei=moyennei/c

        if DataFrame.iloc[i,i1]!=-1 and DF.iloc[u1,i]>0.8:
            num=num+DF.iloc[u1,i]*(DataFrame.iloc[i,i1]-moyennei)
            den=den+DF.iloc[u1,i]

    return moyenne0+(num/den)

print(prediction(0,1))

2.77608032019729

In [ ]:
for i in range(DataFrame.shape[0]):
    for j in range(DataFrame.shape[1]):
        if DataFrame.iloc[i,j]==-1:
            DataFrame.iloc[i,j]=prediction(i,j)
DataFrame.head()